<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="../static/Style.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">

  <title>Developer quiz</title>
</head>

<body>
  <section id="intro" class="background-matrix">
    <nav class="navbar navbar-dark">

      <th:block th:if="${#httpServletRequest.remoteUser != null}">
      <div class="form-inline ml-auto navigation-buttons">
        <div>
        <p th:text="${#httpServletRequest.remoteUser}" class="text-light m-0 mr-2" style="padding: 6px 12px">
            sample_user
        </p>
      </div>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-success" type="submit" value="Log out"/>Log out</button>
    </form>
    </div>
  </th:block>

  <th:block th:if="${#httpServletRequest.remoteUser == null}">
    <form class="form-inline ml-auto navigation-buttons">
      <a href="register.html"><button class="btn btn-outline-light" type="button">Sign up</button></a>
      <a href="login.html"><button class="btn btn-success" type="button">Login</button></a>
    </form>
  </th:block>

  </nav>
  <div style="padding-top: 20%">
  <h1 class="text-center">Beginner developer guide</h1>
  <div class="d-flex justify-content-center">
    <ul>
      <li>Do you dream about <span>job in IT?</span></li>
      <li>Are you starting a <span>new career journey?</span></li>
      <li>Are you not sure <span>where to start?</span></li>
    </ul>
    </div>
    <div class="d-flex justify-content-center">
      <a href="register.html"><button class="quiz-button btn btn-warning btn-lg"><h3></h3><span>Start quiz</span></h3></button></a>
    </div>
    </div>

  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
