<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="../Style.css">
  <title>Developer quiz</title>
</head>

<body>

<div class="background-matrix">

  <div class="container">
    
    <form class="main" action="/quiz" method="post">

      <div class="flex">

        <div class="main__question">
          <h2 th:text="${quizz != null} ? ${quizz.getQuestion()} : 'How do you feel today? :)'"> Default Question </h2>
        </div>
    
        <div class="main__radio-group">
    
          <label class="main__radio-group__item" for="1">
            <input type="radio" name="point" id="1" value="1">
            <div class="main__radio-group__item__scale">1</div>
          </label>
    
          <label class="main__radio-group__item" for="2">
            <input type="radio" name="point" id="2" value="2">
            <div class="main__radio-group__item__scale">2</div>
          </label>
    
          <label class="main__radio-group__item" for="3">
            <input type="radio" name="point" id="3" value="3">
            <div class="main__radio-group__item__scale">3</div>
          </label>
    
          <label class="main__radio-group__item" for="4">
            <input type="radio" name="point" id="4" value="4">
            <div class="main__radio-group__item__scale">4</div>
          </label>
    
          <label class="main__radio-group__item" for="5">
            <input type="radio" name="point" id="5" value="5">
            <div class="main__radio-group__item__scale">5</div>
          </label>
    
          <label class="main__radio-group__item" for="6">
            <input type="radio" name="point" id="6" value="6">
            <div class="main__radio-group__item__scale">6</div>
          </label>
    
          <label class="main__radio-group__item" for="7">
            <input type="radio" name="point" id="7" value="7">
            <div class="main__radio-group__item__scale">7</div>
          </label>
    
          <label class="main__radio-group__item" for="8">
            <input type="radio" name="point" id="8" value="8">
            <div class="main__radio-group__item__scale">8</div>
          </label>
    
          <label class="main__radio-group__item" for="9">
            <input type="radio" name="point" id="9" value="9">
            <div class="main__radio-group__item__scale">9</div>
          </label>
    
          <label class="main__radio-group__item" for="10">
            <input type="radio" name="point" id="10" value="10">
            <div class="main__radio-group__item__scale">10</div>
          </label>
          
        </div>
      </div>
      

      <button class="btn btn-success mx-auto" type="submit">Submit</button>

      <hr>

    </form>
    

  </div>

</div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
