<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">




<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS -->
  <link href="/css/Style.css" rel="stylesheet" type="text/css" >
  <link th:href="@{/css/Style.css}" type="text/css" rel="stylesheet"/>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">

  <title>Register new User</title>
</head>


<body>
<form th:action="@{/register}" method="post">
  <div><label> User Name : <input type="text" name="name"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><label> Email: <input type="email" name="email"/>Email</label></div>
  <div><input type="submit" value="Log In"/></div>
</form>
</body>
</html>

